@import url("./ar-font.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: "Tajawal" !important;
}

td,
th,
tr,
textarea {
    direction: rtl !important;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ql-editor {
    direction: rtl !important;
    text-align: right !important;
    font-size: 140%;
    padding: 0 !important;
}
  
.ql-picker-label::before {
    margin-right: 1rem;
    text-wrap: nowrap;
}


.mantine-MultiSelect-inputField {
    padding: 7px !important;
    border-radius: 1rem;
}
.mantine-MultiSelect-inputField:focus {
    outline: none !important;
}
.mantine-Notifications-root{
    z-index: 999999999999 !important;
}


.table tbody td,
.table thead th {
    vertical-align: middle;
    border: 1px solid #dddddd;
    text-align: center !important;
}
.table th div {
    display: flex;
    justify-content: center;
    align-items: center;
}